@use "navbar";
@use "media-queries";

body {
    line-height: 1.5;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

// Utility Classes
.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

// Welcome styling
.welcome-area {
    min-height: 100vmin;
}

.landing {
    padding-top: 4.8rem;
    display: grid;
    grid-gap: 10px;
    min-height: 100vh;
    grid-template-rows: 0.5fr 10fr 2fr;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    align-items: center;
}

.name-text {
    grid-column: 1 / 7;
    grid-row: 2;
    display: flex;
    justify-content: center;
    display: block;

    .name {
        display: flex;
        justify-content: center;
        p {
            font-size: 5rem;
            color: plum;
        }
    }
    .name-role {        
        display: flex;
        justify-content: center;
        p {
            font-size: 2rem;
            color: black;
        }
    }
}

.links {
    grid-column: 7 / 13;
    grid-row: 2;
    display: flex;
    justify-content: center;
}

.linkedin {
    margin: 0 2rem 0 2rem;
}

.mail {
    margin: 0 2rem 0 2rem;
}


.see-more {
    grid-column: 6 / 8;
    grid-row: 3;
    display: flex;
    justify-content: center;
}

.arrow-wrapper {
    display: flex;
    justify-content: center;
}